
<div id="support" class="support">
  <div class="support-container">
    <div class="support-form-title">Abrir um chamado de suporte.</div>
    <form id="6zag7uzhui" class="support-form">
    <div class="support-input-form-container">
      <input type="text" placeholder="Nome:" autofocus required id="jrp1000j8h" 
        title="Digite um nome válido." class="support-input-form"
        name="nome" maxlength="100" pattern=".{5,100}" minlength="5" />
      </div>
      <div class="support-input-form-container">
        <input type="email" placeholder="Email:" autofocus 
        pattern="^[a-zA-Z0-9.-_]{1,}@[a-zA-Z.-]{2,}[.]{1}[a-zA-Z]{2,}$" 
        title="Um email válido é requerido. Exemplo: nome@gmail.com" 
        maxlength="100" required class="support-input-form" name="email" />
      </div>
      <div class="support-input-form-container">
        <textarea placeholder="Mensagem:" required maxlength="500" minlength="10"
          title="Digite sua mensagem para o suporte." pattern=".{10,500}" 
          class="support-textarea" name="mensagem" ></textarea>
      </div>
      <div class="support-button-container">
        <button id="m0ot76s03g" type="submit" class="action-button" />Enviar</button>
        <button id="sz65h4rbd5" type="button" class="action-button" />Voltar</button>
      </div>
    </form>
  </div>
</div>
