@media screen {

	* {
		margin: 0;
		padding: 0;
		font: inherit;
	}

	html, body {
		height: 100%;
		font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
		font-size: 16px; /* Set the root font size to 16 pixels */
	}

	.fullscreen {
		display: flex;
		flex-direction: column;
		flex-wrap: nowrap;
		justify-content: flex-start;
		align-items: stretch;
		height: 100%;
	}
	
	.app-header {
		display: flex;
		flex-direction: column;
		justify-content: center;
		align-items: stretch;
		min-height: 74px;
		background-color: #D5D8DC;
	}

	.app-body {
		display: flex;
		flex-direction: column;
		justify-content: center;
		align-items: center;
		height: 100%;
		background-color: #EAECEE;
	}

}

@media print {
	* { display: none; }
}