@media screen {

  .dashboard {
    background-color: #EAECEE;
    font-family: sans-serif;
    color: #2C3E50;
  }

  .dashboard-container {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
  }

}