
<div id="dashboard" class="dashboard">
  <div class="dashboard-container">
    <div class="dashboard-container-search">
      <input class="dashboard-container-search-input" type="text" placeholder="CLIENTE OU CNJ" />
      <button class="dashboard-container-search-button">BUSCAR</button>
    </div>
    <div class="dashboard-container-gauge">
      <div class="dashboard-container-gauge-item">
        <div>
          <div>Intimações</div>
          <div class="counter">03</div>
        </div>
      </div>
      <div class="dashboard-container-gauge-item">
        <div>
          <div>Publicações</div>
          <div class="counter">14</div>
        </div>
      </div>
      <div class="dashboard-container-gauge-item">
        <div>
          <div>Andamentos</div>
          <div class="counter">27</div>
        </div>
      </div>
      <div class="dashboard-container-gauge-item">
        <div>
          <div>Prazos</div>
          <div class="counter">08</div>
        </div>
      </div>
      <div class="dashboard-container-gauge-item">
        <div>
          <div>Processos</div>
          <div class="counter">1346</div>
        </div>
      </div>
      <div class="dashboard-container-gauge-item">
        <div>
          <div>Monitorados</div>
          <div class="counter">118</div>
        </div>
      </div>
    </div>
  </div>
</div>
