
<div id="dashboard" class="dashboard">
  <div class="dashboard-container">
    <div class="dashboard-container-search">
      <input class="dashboard-container-search-input" type="text" placeholder="CLIENTE OU CNJ" />
      <button class="dashboard-container-search-buttonx">BUSCAR</button>
    </div>
    <div class="dashboard-container-subtitle">Publicações recentes:</div>
    <div class="dashboard-container-subtitle">Intimações recentes:</div>
    <div class="dashboard-container-subtitle">Andamentos recentes:</div>
    <div class="dashboard-container-subtitle">Prazos abertos:</div>
  </div>
</div>
