@media screen {

  .dashboard {
    background-color: #FFFFFF;
    color: #000000;
    height: 100%;
    width: 100%;
  }

  .dashboard-container {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 40px auto;
    height: 100%;
    background-color: #FFFFFF;
  }

  .dashboard-container-search {
    display: grid;
    grid-template-columns: 2fr 1fr;
    grid-template-rows: auto;
    background-color: #FFFFFF;
    color: #000000;
  }

  .dashboard-container-search-input {
    width: auto;
    height: 100%;
    border: none;
    padding-left: 10px;
    padding-right: 10px;
  }

  .dashboard-container-search-button {
    background-color: #FFFFFF;
    color: #000000;
    border: none;
  }

  .dashboard-container-subtitle {
    padding-left: 10px;
    color: grey;
  }

  .counter {
    font-size: 1.5em;
    font-weight: bold;
  }

}