@media screen {

  .login {
    background-color: #EAECEE;
    color: #2C3E50;
  }

  .login-container {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
  }

  .login-form {
    width: 100%;
  }

  .login-form-title {
    padding: 20px;
  }

  .login-input-form {
    box-sizing: border-box;
    outline: none;
    display: block;
    width: 100%;
    padding: 7px;
    border: none;
    border-bottom: 2px solid #D5D8DC;
    background: #FFFFFF;
    margin-bottom: 10px;
    height: 45px;
  }

  .login-input-form:focus-within {
    border-bottom: 2px solid #000080;
    background: #FFFFFF;
  }

  .login-button-container {
    padding: 10px;
    text-align: center;
  }

  .login-input-form-button {
    text-align: center;
    padding: 4px;
  }

  .login-footer {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    font-size: 0.8rem;
    margin-top: 15px;
  }

  .login-footer > div:nth-child(2) {
    padding-left: 5px;
    padding-right: 5px;
  }

  .login-footer > div:nth-child(4) {
    padding-left: 5px;
    padding-right: 5px;
  }

  .login-footer span {
    cursor: pointer;
  }

  .login-footer span:hover {
    color: blue;
  }

  .login-social {
    margin-top: 40px;
  }

  .login-social-google > img {
    cursor: pointer;
    height: 40px;
    width: auto;
  }

  .login-social-apple > img {
    cursor: pointer;
    height: 40px;
    width: auto;
    margin-top: 10px;
  }

  .login-social-microsoft > img {
    cursor: pointer;
    height: 40px;
    width: auto;
    margin-top: 10px;
  }

}