
<div id="login" class="login">
  <div class="login-container">
    <div class="login-form-title">Faça seu login para acessar o sistema.</div>
    <form id="4976ha6hty" class="login-form">
      <div class="login-input-form-container">
        <input type="email" placeholder="Email:" id="l3wfqfd99w" 
        title="Um email válido é requerido. Exemplo: nome@gmail.com" 
        maxlength="100" required class="login-input-form" name="email" />
      </div>
      <div class="login-input-form-container">
        <input type="password" placeholder="Senha:" class="login-input-form" 
        title="Uma senha válida é requerida. Minimo de 8 caracteres e maximo de 64." 
        maxlength="64" minlength="8" required name="password" />
      </div>
      <div class="login-button-container">
        <button id="dhg8a8przl" type="submit" class="action-button" />Login</button>
      </div>
    </form>
    <div id="1aff5t0iww" class="login-footer">
      <div><span id="ry3rrk1k4a" title="Clique para recuperar sua senha.">Recuperar Senha</span></div>
      <div>|</div>
      <div><span id="l8n11xuem1" title="Clique para criar uma nova conta.">Criar Conta</span></div>
      <div>|</div>
      <div><span id="b37ge60l4l" title="Clique para enviar uma mensagem ao suporte.">Obter Suporte</span></div>
    </div>
    <!--<div id="cj3tjk2ed1" class="login-social"> 
      <div class="login-social-google">
        <img id="google-login" fetchpriority="high" src="google-sign-in.png" width="273px" height="40px" alt="" />
      </div>
      <div class="login-social-apple">
        <img fetchpriority="high" src="apple-sign-in.png" width="273px" height="40px" alt="" />
      </div>
      <div class="login-social-microsoft">
        <img fetchpriority="high" src="microsoft-sign-in.png" width="273px" height="40px" alt="" />
      </div>
    </div>-->
  </div>
</div>
