@media screen {

  .alertmessage-overlay {
    display: none;
		justify-content: center;
    align-items: center;
    align-content: center;
		width: 100%; /* Full width (cover the whole page) */
    height: 100%; /* Full height (cover the whole page) */
    position: fixed; /* Sit on top of the page content */
    top: 0; 
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0,0,0,0.1); /* Black background with opacity */
    z-index: 1000; /* Specify a stack order in case you're using a different order for other elements */
  }

  /* Style the message box */
  .alertmessage-message-blue {
    margin: 15% auto; /* 15% from the top and centered */
    padding: 20px;
    width: 60%; /* Could be more or less, depending on screen size */
    font-size: 0.8rem;
    color: #000000;
    border-top: 1px solid #2980B9;
    border-right: 1px solid #2980B9;
    border-bottom: 1px solid #2980B9;
    border-left: 10px solid #2980B9;
    background-color: #fefefe;
  }

  .alertmessage-message-green {
    margin: 15% auto; /* 15% from the top and centered */
    padding: 20px;
    width: 60%; /* Could be more or less, depending on screen size */
    font-size: 0.8rem;
    color: #000000;
    border-top: 1px solid #27AE60;
    border-right: 1px solid #27AE60;
    border-bottom: 1px solid #27AE60;
    border-left: 10px solid #27AE60;
    background-color: #fefefe;
  }

  .alertmessage-message-red {
    margin: 15% auto; /* 15% from the top and centered */
    padding: 20px;
    width: 60%; /* Could be more or less, depending on screen size */
    font-size: 0.8rem;
    color: #000000;
    border-top: 1px solid #E74C3C;
    border-right: 1px solid #E74C3C;
    border-bottom: 1px solid #E74C3C;
    border-left: 10px solid #E74C3C;
    background-color: #fefefe;
  }

  .alertmessage-message-yellow {
    margin: 15% auto; /* 15% from the top and centered */
    padding: 20px;
    width: 60%; /* Could be more or less, depending on screen size */
    font-size: 0.8rem;
    color: #000000;
    border-top: 1px solid #F1C40F;
    border-right: 1px solid #F1C40F;
    border-bottom: 1px solid #F1C40F;
    border-left: 10px solid #F1C40F;
    background-color: #fefefe;
  }

}