
<div id="passrecovery" class="passrecovery">
  <div class="passrecovery-container">
    <div class="passrecovery-form-title">Digite seu email cadastrado no Advosys. Enviaremos sua senha para esse email.</div>
    <form id="xc2oqmolwd" class="passrecovery-form">
    <div class="passrecovery-input-form-container">
      <div class="passrecovery-input-form-container">
        <input type="email" placeholder="Email:" autofocus id="ckon9bk4i0"
        pattern="^[a-zA-Z0-9.-_]{1,}@[a-zA-Z.-]{2,}[.]{1}[a-zA-Z]{2,}$" 
        title="Um email válido é requerido. Exemplo: nome@gmail.com" 
        maxlength="100" required class="passrecovery-input-form" name="email" />
      </div>
      <div class="passrecovery-button-container">
        <button id="m0ot76s03g" type="submit" class="action-button" />Enviar</button>
        <button id="6z3s6vs42y" type="button" class="action-button" />Voltar</button>
      </div>
    </form>
  </div>
</div>
