@media screen {

  .toolbar {
    display: flex;
    flex-direction: column;
		justify-content: center;
    align-items: stretch;
    background-color: #000080;
    color: #FFFFFF;
    padding: 30px;
    width: auto;
  }

  .toolbar-container {
    display: flex;
    flex-direction: row;
		/*justify-content: center;
    align-items: center;*/
  }

  .toolbar-container > div:nth-child(2) {
    flex-grow: 1;  /*take up remaining space */
  }

  .logo {
    font-weight: 700;
  }

}

@media screen and (max-width: 320px) {

  .slogan {
    font-size: 0.9rem;
  }

}
