
<div id="newaccount4" class="newaccount">
  <div class="newaccount-container">
    <div class="newaccount-form-title">Digite o código de confirmação enviado por SMS.</div>
    <form id="nh30ayn4jo" class="newaccount-form">
    <div class="newaccount-input-form-container">
      <div class="newaccount-input-form-container">
        <input type="text" placeholder="Codigo:" autofocus id="7aa9fqvkv4"
        pattern="^[0-9]{6}$" title="Digite/copie o código recebido por SMS." 
        minlength="6" maxlength="6" required class="newaccount-input-form" name="code" />
      </div>
      <div class="newaccount-button-container">
        <button id="pjo4h6c3en" type="submit" class="action-button" />Enviar</button>
        <button id="ymc2ol99b0" type="button" class="action-button" />Cancelar</button>
      </div>
    </form>
  </div>
</div>
