
<div id="newaccount" class="newaccount">
  <div class="newaccount-container">
    <div class="newaccount-form-title">Digite seu email. Enviaremos um codigo de confirmação para esse email.</div>
    <form id="x5xgry2zp9" class="newaccount-form">
    <div class="newaccount-input-form-container">
      <div class="newaccount-input-form-container">
        <input type="email" placeholder="Email:" autofocus id="ckon9bk4i0"  
        title="Um email válido é requerido. Exemplo: seunome@gmail.com" 
        maxlength="100" required class="newaccount-input-form" name="email" />
      </div>
      <div class="newaccount-button-container">
        <button id="ecc0fveg69" type="submit" class="action-button" />Enviar</button>
        <button id="d6ihz7rvjc" type="button" class="action-button" />Cancelar</button>
      </div>
    </form>
  </div>
</div>
