
<div id="newaccount2" class="newaccount">
  <div class="newaccount-container">
    <div class="newaccount-form-title">Digite o código de confirmação enviado para o email.</div>
    <form id="slsyzsppnm" class="newaccount-form">
    <div class="newaccount-input-form-container">
      <div class="newaccount-input-form-container">
        <input type="text" placeholder="Codigo:" autofocus id="ckon9bk4i0"
        pattern="^[0-9]{6}$" title="Digite/copie o código recebido por email." 
        minlength="6" maxlength="6" required class="newaccount-input-form" name="code" />
      </div>
      <div class="newaccount-button-container">
        <button id="ina1s3lqdp" type="submit" class="action-button" />Enviar</button>
        <button id="m8fz11hwvk" type="button" class="action-button" />Cancelar</button>
      </div>
    </form>
  </div>
</div>
