@media screen {

  .menu {
    display: none;
    flex-direction: column;
		justify-content: flex-start;
    align-items: stretch;
		width: 100%; /* Full width (cover the whole page) */
    height: 100%; /* Full height (cover the whole page) */
    position: fixed; /* Sit on top of the page content */
    top: 0; 
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #fefefe;
    font-size: 1.0rem;
    z-index: 999; /* Specify a stack order in case you're using a different order for other elements */
  }

  .menu-container {
    display: flex;
    flex-direction: column;
		justify-content: flex-start;
    align-items: stretch;
    padding: 30px;
    height: 100%;
  }

  .menu-container > div:nth-child(2) {
    height: 30px;
  }

  .menu-header {
    display: flex;
    flex-direction: row;
		justify-content: flex-end;
    align-items: flex-start;
    width: 100%; 
    /*padding-bottom: 15px;*/
  }

  .menu-body {
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
		justify-content: flex-start;
    align-items: stretch;
    width: 100%;
  }

  .menu-header > div:nth-child(2) {
    flex: 1; /* take up remaining space */
  }

  .menu-itens {
    display: flex;
    flex-direction: row;
		justify-content: space-between; 
    align-items: center;
  }
 
  .menu-iten {
    margin-top: 10px;
    margin-bottom: 10px;
    padding-top: 3px; 
    padding-left: 3px;
    font-size: 1rem;
    border-left: 10px solid #6495ED;
    vertical-align: middle;
    cursor: pointer;
  }

  .poweroff {
    font-size: 1rem;
    text-align: center;
    padding: 30px;
  }

  .logout-button {
    background-color: #f44336;
    border: none;
    color: white;
    padding: 12px 24px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 14px;
    border-radius: 4px;
    cursor: pointer;
    transition: background-color 0.3s;
  }
  
  .logout-button:hover {
    background-color: #e53935;
  }

  .menu-header-userinfo {
    overflow: hidden;
  }

}

@media screen and (max-width: 320px) {

  .menu {
    font-size: 0.8rem;
  }

  .menu-itens {
    display: flex;
    flex-direction: row;
		justify-content: space-between;
    align-items: center;
  }
 
  .menu-iten {
    margin-top: 10px;
    margin-bottom: 10px;
    padding-top: 3px; 
    padding-left: 3px;
    font-size: 0.8rem;
    border-left: 10px solid #6495ED;
    vertical-align: middle;
    cursor: pointer;
  }

}
