
<div id="zpqocl0nca" class="menu">
  <div class="menu-container">
    <div id="d4pk5lph5j" class="menu-header">
      <div>
        <div id="r7qqialyp0" class="menu-header-userinfo"></div>
        <div id="r213ghv5gc" class="menu-header-userinfo"></div>
      </div>
      <div></div>
      <div><i class="fas fa-xmark show-cursor"></i></div>
    </div>
    <div></div>
    <div class="menu-body">
      <div class="menu-itens">
        <div>
          <div class="menu-iten">ANDAMENTOS</div>
          <div class="menu-iten">CAIXA</div>
          <div class="menu-iten">CAUSAS</div>
          <div class="menu-iten">CLIENTES</div>
          <div class="menu-iten">COMARCAS</div>
          <div class="menu-iten">DOCUMENTOS</div>
          <div class="menu-iten">INTIMAÇÕES</div>
          <div class="menu-iten">MODELOS</div>
        </div>
        <div>
          <div class="menu-iten">MONITORAMENTOS</div>
          <div class="menu-iten">NATUREZAS</div>
          <div class="menu-iten">PRAZOS</div>
          <div class="menu-iten">PROCESSOS</div>
          <div class="menu-iten">PUBLICAÇÕES</div>
          <div class="menu-iten">REGISTROS</div>
          <div class="menu-iten">USUARIOS</div>
          <div class="menu-iten">VARAS</div>
        </div>
      </div>
    </div> 
    <div class="poweroff">
      <button id="0cjj9m7agt" class="logout-button">Sair</button>
    </div>
  </div>
</div>
