#node_modules is not needed.
#Modules can be reinstalled from package.json.
#node_modules/

#appconfig.js should be configured with values 
#suited to the project. Anything under configObj 
#should be configured in appconfig.js
appconfig.js