#
# Systemd service configuration file for the node service. 
# 
# Usage: 
# systemdctl status api-mobile
# systemdctl start api-mobile
# systemdctl stop api-mobile
# systemdctl restart api-mobile
#

[Unit]
Description=api.mobile.advosys

[Service]
User=app.advosys
Group=app.advosys
WorkingDirectory=/home/app.advosys/mobile/source/api
Environment=NODE_ENV=production
ExecStart=/bin/node /home/app.advosys/mobile/source/api/index.js
Restart=always

[Install]
WantedBy=multi-user.target



