#
# Systemd service configuration file for the node service. 
# 
# Usage: 
# systemdctl status api-mobile
# systemdctl start api-mobile
# systemdctl stop api-mobile
# systemdctl restart api-mobile
#

[Unit]
Description=api.mobile.advosys

[Service]
User=miguel
Group=miguel
WorkingDirectory=/home/miguel/www/novo.advosys/mobile/source/api
Environment=NODE_ENV=production
ExecStart=/usr/local/bin/node /home/miguel/www/novo.advosys/mobile/source/api/index.js
Restart=always

[Install]
WantedBy=multi-user.target



